* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  padding: 20px;
}

.main-header {
  display: flex;
  max-width: 1512px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
  padding: 15px 30px;
}

header {
  border-bottom: 1px solid rgba(236, 237, 237, 1);
}
.search-input {
  width: 357px;
  padding: 20px 25px;
  border-radius: 10px;
  background-color: rgba(236, 243, 245, 1);
  border: none;
  cursor: pointer;
  color: rgba(137, 146, 142, 1);
  font-size: 15px;
  font-weight: 400;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.date-time {
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  gap: 5px;
}

.date-time img {
  width: 10px;
  height: 14px;
}

.add-table-btn {
  background-color: rgba(177, 206, 212, 1);
  width: 175px;
  height: 58px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: rgba(44, 56, 50, 1);
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.add-table-btn:hover {
  background-color: #a4bdc0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 899px;
  margin: 0 auto;
  margin-top: 40px;
}

.food-card {
  background: rgba(216, 230, 233, 1);
  border: 1px solid rgba(236, 237, 237, 1);
  overflow: hidden;
  transition: transform 0.2s;
  border-radius: 15px;
  cursor: pointer;
  width: 203px;
  height: 214px;
}

.food-card:hover {
  transform: translateY(-5px);
}

.card-image img {
  width: 100%;
  height: 143px;
  object-fit: cover;
}

.card-info {
  padding: 8px;
  text-align: center;
}

.card-info h3 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 9px;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #777;
}

.badge {
  background: #e9ecef;
  padding: 2px 8px;
  border-radius: 50%;
  color: #d68a56;
  font-weight: bold;
}

.category-nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  background: rgba(234, 240, 240, 1);
  padding: 20px;
  max-width: 949px;
  margin: 0 auto;
}

.nav-item {
  padding: 19px 44px;
  border: none;
  border-radius: 10px;
  background: rgba(217, 217, 217, 1);
  color: rgba(169, 169, 169, 1);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.nav-item.active {
  background-color: rgba(74, 92, 47, 1);
  color: rgba(236, 243, 245, 1);
}
